@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.bio {
  line-height: 1.25rem;
  margin: 0 1rem 1rem 1rem;
  a:link,
  a:visited{
    color: $link-color;
    text-decoration: none;
    font-weight: 600;
  }
}
