@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $border-color;
  height: 3.75rem;
  &__icons,
  &__profile-icon {
    display: flex;
    align-items: center;
  }
  &__profile-icon {
    .profile-picture {
      width: 1.5rem;
      height: 1.5rem;
      img {
        width: 100%;
      }
    }
  }
}
