@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.highlight {
  padding: 0.625rem;
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5.4rem;
    width: 4.5rem;
    p {
      font-size: 0.75rem;
    }
  }
}
