@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap");

// General setting
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.75rem;
}
h3,
p {
  font-size: 0.875rem;
}
