// Global colours
$background-color: #ffffff;
$border-color: #dbdbdb;
$btn-color: #0095f6;
$link-color: #003a70;

// General Fonts colours
$font-color: #282828;
$icon-color: #2b2b2b;
$title-color: #b6b6b6;
